  body {
    color: rgba(28,97,97,.6);
    font-size: 40px;
    font-family: 'Volkhov', serif;
    text-align: center;
    background: linear-gradient(45deg, rgb(230, 249, 255), rgba(71,249,249,.2));
  }

  h1 {
    color:  rgba(28,97,97,.9);
    font-size: 30px;
    background-color: transparent;
    height: 60px;
    margin: 20px;
  }

  #input {
    background-color: white;
    width: 275px;;
    border: grey solid 1px;
    display: block;
    margin: auto;
    height: 150px;
    font-size: 30px;
    border-radius: 5%;
  }

  .bt {
    height: 60px;
    width: 60px;
    text-align: center;
    background-color: white;
    border-radius: 10%;
  }

  .img {
    height: 40px;
    width: 40px;
    text-align: center;
    align-content: center;
  }








  


/* .result {
    border: solid 2px;
    text-align: right;
    height: 300px;
}

.number {
    border: solid 1px;
    height: 400px;
}

.operator {
    border: solid 1px;
    height: 400px;
}

/* .highlight {
    color: yellow;
} */
